@charset 'UTF-8';

body {
    margin: 0px;
    padding: 0px;
    background: #f3f2ed;
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: #8A8A8A;
}

h1, h2, h3 {
    margin: 0px;
    padding: 0px;
    font-weight: 300;
}

p {
    margin-bottom: 1.5em;
    line-height: 180%;
}

a {
    color: #D1551F;
}
