<html>
<head>
    <title>$entity.value.title</title>
</head>
<body>
<h2>$entity.value.title</h2>


<table>
    <tr>
        <td>

        </td>
        <td>

        </td>
        #foreach( $year in $entity.value.years)
            <td>
                <b>$year</b>
            </td>
        #end
    </tr>
    #table_position( $entity  "öffentl.-rechtliche Leistungsentgelte" )
</table>

    $entity


</body>
</html>