<html>
<head>
    <title>$entity.value.title</title>
    <link rel="stylesheet" href="./style.css" type="text/css" media="all"/>
</head>
<body>
<h2>$entity.value.title</h2>


#parse( "/site/entityData.vm")


<ul>
    #foreach( $silbing in $silbings)
         <li>$silbing</li>
    #end
</ul>

</body>
</html>