<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Haushalt Wiesbaden</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>

    <script>
        $(document).ready(function () {
            $(".toggle_entry").toggle(
                    function () {
                        $(".hidden", this).show();
                    },
                    function () {
                        $(".hidden", this).hide();
                    }
            );

            $(".leaf").click(function (event) {
                event.stopPropagation();
            });
            $(".hidden").hide();

        });
    </script>
</head>
<body>


<h3>Kostenstellen</h3>

<p>
    Aufklappen um die dazugehörige Ämter und Kostenstellen ansehen.
</p>
    #set( $structure = $accountStructure )

    #parse('/site/strcture.vm')


<h3>Produkte</h3>

<p>
    Aufklappen um die dazugehörige Ämter und Produkte ansehen.
</p>

    #set( $structure = $productStructure )

    #parse('/site/strcture.vm')



<h3>Top-Level</h3>
<ul>
    #foreach( $entity in $sorter.sort($entities))
        <li>
            <a href="./${name.normalize($entity)}.html">$entity</a>
        </li>
    #end
</ul>
</body>

</html>